[Unit]
Description=Armada Control privileged settings service
After=armada-device-quirks.service inputplumber.service armada-powerd.service

[Service]
Type=simple
ExecStart=/usr/libexec/armada/armada-control
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
