[Unit]
Description=Apply Armada controller type
After=inputplumber.service
Requires=inputplumber.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/armada/controller-type apply

[Install]
WantedBy=multi-user.target
