[Desktop Entry]
Type=Application
Name=Armada Installer
Comment=Install Armada alongside Android on the device's internal storage
Exec=/usr/libexec/armada/armada-installer gui
TryExec=/run/armada/installable
Icon=drive-harddisk
Terminal=false
Categories=System;Settings;
Keywords=install;internal;armada;
